nav {
text-align: right;
margin: 0px;
padding-bottom:20px;
background-color: white;
width:100%;
}

nav a{
  color: black;
  text-decoration: none;
}

nav a:hover{
  color: blue;
}

nav ul{
  list-style: none;
  margin: 10;
  border-right: black;

}

nav li {
   display: inline-block;
	 padding-top: 10px;
	 padding-left: 25px;
	 padding-right: 25px;
}

body{
 margin: 0px;
 font-family: 'Arial';

}

input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 60%;
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: blue;
}


textarea {
    width: 60%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}


div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}


.blogpost {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.headerpic {
  height: 80px;
  width: 1602px;
}
.diagrams{
  width:50%;
  height:auto;
  margin-left: 3em;
}
table{
  width:100%;
  table-layout: fixed;
}
/* table, tr, td {
  border: 1px solid;
} */
td{
  height:300;
  text-align: center;
  padding: 10px;
  border:1px solid;
  border-color:#f2f2f2;
  text-decoration: none;
  background-color:#89a3d8;
  border-width: 30px;
  font-size: 30px;
}
/* tr{
  padding-bottom: 3em;
} */
table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}
td:hover{
  font-size: 40px;
  background:#F27828;
  color:white;
}
.apptable{
  text-decoration: none;
  color:white;
}
.apptable:hover{
  text-decoration: underline;

}

/* h5{
  text-align: center;
  color: black;
  font-size: 40px;
  margin: 5px;
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
  letter-spacing: .15em;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 2px 	#A9A9A9
}

#home{
} */
